<div class="standings-container">
  <h2>Current Driver Standings</h2>
  <table>
    <tr class="standings-row">
      <th>Pos</th>
      <th>Driver</th>
      <th>Team</th>
      <th>Points</th>
    </tr>
    <tr *ngFor="let d of driverStandings" class="standings-row">
      <td>{{ d.position }}</td>
      <td>{{ d.Driver.givenName }} {{ d.Driver.familyName }}</td>
      <td>{{ d.Constructors[0].name }}</td>
      <td>{{ d.points }}</td>
    </tr>
  </table>
  <h2>Current Constructors Standings</h2>
  <table>
    <tr class="standings-row">
      <th>Pos</th>
      <th>Team</th>
      <th>Points</th>
    </tr>
    <tr *ngFor="let c of constructorStandings" class="standings-row">
      <td>{{ c.position }}</td>
      <td>{{ c.Constructor.name }}</td>
      <td>{{ c.points }}</td>
    </tr>
  </table>
</div>
