<div *ngIf="!isLoggedIn" class="auth-container">
	<div class="auth-content">
		<h2>Login</h2>
		<form (ngSubmit)="login()">
			<label for="email">Email:</label>
			<input
				type="email"
				id="email"
				[(ngModel)]="email"
				name="email"
				required
			/>
			<label for="password">Password:</label>
			<input
				type="password"
				id="password"
				[(ngModel)]="password"
				name="password"
				required
			/>
			<button type="submit">Login</button>
		</form>
	</div>
	<div class="auth-content">
		<h2>Signup</h2>
		<form (ngSubmit)="signup()">
			<label for="signupUsername">Username:</label>
			<input
				id="signupUsername"
				[(ngModel)]="signupUsername"
				name="signupUsername"
				required
			/>
			<label for="signupEmail">Email:</label>
			<input
				type="email"
				id="signupEmail"
				[(ngModel)]="signupEmail"
				name="signupEmail"
				required
			/>
			<label for="signupPassword">Password:</label>
			<input
				type="password"
				id="signupPassword"
				[(ngModel)]="signupPassword"
				name="signupPassword"
				required
			/>
			<button type="submit">Signup</button>
		</form>
	</div>
</div>
<div *ngIf="isLoggedIn" class="dashboard-container">
	<h2>Welcome to Your Dashboard {{ username }}</h2>
	<div class="logout-container">
		<button (click)="logout()" class="logout-button">Logout</button>
	</div>

	<h3>Your Favorite Drivers</h3>
	<div
		class="driver-cards"
		cdkDropList
		[cdkDropListData]="favoriteDrivers"
		(cdkDropListDropped)="drop($event)"
		cdkDropListOrientation="horizontal"
	>
		<div *ngFor="let driver of favoriteDrivers" cdkDrag>
			<div class="driver-card">
				<img
					[src]="getDriverImageUrl(driver)"
					alt="{{ driver.name }}"
					class="driver-image"
				/>
				<div class="driver-details">
					<h3>{{ driver.name }}</h3>
					<p><strong>Constructor:</strong> {{ driver.constructorName }}</p>
					<p><strong>Points:</strong> {{ driver.points }}</p>
					<p><strong>Championship Position:</strong> {{ driver.position }}</p>
					<p><strong>Wins:</strong> {{ driver.wins }}</p>
				</div>
				<button (click)="removeFavoriteDriver(driver.name)">Remove</button>
			</div>
		</div>
	</div>

	<h3>Add a New Driver</h3>
	<form (ngSubmit)="addFavoriteDriver()">
		<label for="newDriver">Select Driver:</label>
		<select id="newDriver" [(ngModel)]="newDriver" name="newDriver" required>
			<option
				*ngFor="let driver of driverStandings"
				[value]="driver.Driver.givenName + ' ' + driver.Driver.familyName"
			>
				{{ driver.Driver.givenName }} {{ driver.Driver.familyName }}
			</option>
		</select>
		<button class="addDriverButton" type="submit">Add Driver</button>
	</form>
</div>
