.auth-container {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 100%;
	max-width: 1000px;
}

.auth-content {
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.dashboard-container {
	text-align: center;
	padding: 2rem;
}

form {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin-bottom: 0.5rem;
	font-weight: bold;
}

input {
	margin-bottom: 1rem;
	padding: 0.5rem;
	width: 100%;
	max-width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	background-color: #d32f2f;
	color: white;
	border: none;
	margin: 10px;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
}

button:hover {
	background-color: #b71c1c;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 0.5rem 0;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.driver-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5rem;
}

.driver-card {
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-align: center;
	background-color: #fff;
}

.driver-image {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.driver-details {
	padding: 0.1rem;
}

.logout-container {
	position: absolute;
	top: 6rem; // For top-right corner
	right: 1rem;

	// Uncomment the following lines for bottom-right corner instead:
	// top: auto;
	// bottom: 1rem;
}

.logout-button:hover {
	background-color: #b71c1c;
}

button:hover {
	background-color: #b71c1c;
}
